.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0%;
    margin-right: 0%;
}

.header_panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A1CCD1;
    color: black;
}

#tempData{
    background-color:#F4F2DE;
    color: black;
    height: 100vh;
}

#tempData h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20vh;
}

#tempData h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weather_panel{
    background-color:#E9B384;
}

.weather_panel h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20vh;
}

.weather_panel h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}