@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
:root{
    background: linear-gradient(135deg, rgba(10,10,30,1) 0%, rgba(20,45,20,1) 100%); 
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(30, 25, 55);
    background: linear-gradient(135deg, rgba(30,25,55,1) 0%, rgba(10,55,50,1) 100%); 
    height: 100vh;
}

.header_panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(135deg, rgba(235,45,45,1) 0%, rgba(235,160,45,1) 100%);
    color: white; 
    padding: 0px;
    font-size: 1em;
    letter-spacing: 1px;

    font-family: 'Roboto Slab', serif;
}

#tempData{
    background: rgba(255, 255, 255, 0.1); 
    color: rgba(0, 174, 239, 1);
    padding: 0px;
    font-size: 1em;
    line-height: 1.4;

}

#tempData h1, #tempData h2{
    text-align: center;
}

#tempData h1{
    font-size: 1em;
    margin-bottom: 0px;
}

#tempData h2{
    font-size: 1em;
    margin-bottom: 30px;
    color: rgba(0, 174, 239, 1); 
}

.weather_panel{
    background: rgba(255, 255, 255, 0.1); 
    padding: 0px;
    font-size: 1em;
    line-height: 1.4;
    color: rgba(0, 174, 239, 1); 
}

.weather_panel h1, .weather_panel h2{
    text-align: center;
}

.weather_panel h1{
    font-size: 1em;
    margin-bottom: 0px;
}

.weather_panel h2{
    font-size: 1em;
    margin-bottom: 0px;
    color: rgba(0, 174, 239, 1); 
}

