<!DOCTYPE html>
<html>
  <head>
    <title>Temperature Monitor</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header panel">
        <h1>Hi Nana and Papa! Here's your pool temperature</h1>
        <div id="tempData">
          <h2>Pool Temp: {{pool_temperature}}</h2>
        </div>
      </div>
      <div class="weather panel">
        <h2>{{ location }}</h2>
        <p>Currently {{ condition }}</p>
        <p>Outdoor Temperature: {{ temperature }}°C</p>
      </div>
    </div>
  </body>
</html>
